# Credentials and configs
auth.json
config_*.yaml
*.yaml
*.env

# Python files
__pycache__/
*.py[cod]
*.egg-info/

# Notebooks
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Virtual environments
venv/
.env/