# Credentials and configs
auth.json
config_recent.yaml
*.yaml
*.env

# Python files
__pycache__/
*.py[cod]
*.egg-info/

# Notebooks
notebooks/
.ipynb_checkpoints/
dd-creation-dataset-per-session.ipynb

# Data files
store.db

# System files
.DS_Store
Thumbs.db

# Virtual environments
venv/
.env/

# Log files
ds-sdd.log

Dockerfile